body {color: blue;background-color: lightgreen;}
p {font-family: sans-serif;Verdana, Arial, sans serif;}
h1 {text-transform: uppercase;}
p {margin: 35px}
li {text-transform: capitalize; }
h2 {text-transform: uppercase;}
img {max-width: 50%; height: auto; border-radius: 50%; box-shadow: 10px 10px blue;}
</body>
